@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;

}
.navSection{
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(79, 39, 189);
    align-items: center;
    color: white;
    padding: 0 20px;
    font-size: large;
}

.sideBarSection{
    width: 100%;
    max-width: 15%;
    height: 95vh;
    padding-top: 10px;
    background-color: lightgray;
    
}

.sideBarSection ul li{
    list-style: none;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}

.collectionSection{
    display: flex;
}

/* loginsection */
.loginSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registerSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.authForm label{
    width: 100%;
    max-width: 55%;
    font-weight: 400;

}


.authForm{
    width:100%;
    max-width: 50%;
    margin-top: -230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
}
.authForm input{
    width: 100%;
    max-width: 55%;
    height: 1.4rem;
}

/* firmSection AddFirm */
.firmSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
  .tableForm{
    width:100%;
    max-width: 50%;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
}

.tableForm input{
    width: 100%;
    height:50px;
    max-width: 85%;
}


.tableForm label{
    width: 100%;
    max-width: 85%;
    font-weight: 600;
    
}

.checkInp{
    width: 100%;
    max-width: 85%;
    display: flex;
}
.checkInp label{
    width: 50%;
}


.inputsContainer{
    
    width:100%;
    max-width: 85%;
    display: flex;

}
.checkboxContainer{
    width: 100%;
    max-width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checboxContainer label {
    width: 100%;
    margin-left: 2px;
    margin-right:30px;
}

.checboxContainer input {
    margin-left:20px;
}


.regBoxContainer label {
    font-size: small;
}


/* products table */

.productSection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-table {
    width: 80vw;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border: 1px solid rgb(128, 128, 128);
    padding:8px;
}

.product-table th {
    text-align: left;
    background-color: rgb(47, 77, 212);
    color: white;
}

.deleteBtn {
    color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


/* not found */

.errorSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorSection h1 {
    font-size: 4rem;
}

h3 {
    color: #D7263D;
}


/* btn Submit */

.btnSubmit button {
    background-color: rgb(43, 43, 180);
    width: 6rem;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 5px;
}


/* landing image  */

.welcomeSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landingImage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
}

.welcomeSection h2 {
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: -80px;
    color: #2073c0;
}

.showPassword {
    width: fit-content;
    position: absolute;
    bottom: 90px;
    right: 135px;
    cursor: pointer;
}

.loaderSection {
    z-index: 10000;
}